<div class="field input-field">
  <input type="text" name="adress" id="moveAddress">
  <label class="active" for="moveAddress">Address</label>
</div>
 <input type="button" value="Move" class="btn-large waves-effect waves-light"  onClick="_generalSerchGeo()" >